*{
    font-family: "Farro", sans-serif;
    font-weight: 700;
    font-style:normal;
    font-size: 22px;
}
/* products */

.products{
	width: 60%;
	margin: 10px 0;	
}
.products-items{
	margin: 4px;
	display: flex;
	width: 100%;
	border: 1px #ddd solid;
	margin: 20px;
}
.products-item-image{
	width: 25%;
	margin-right: 10px;
}
.product-item-action{
	flex: 1;
	text-align: right;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.product-item-action button{
	display: block;
	margin-left: auto;
	background: darkgreen;
	color: #fff;
	border: 0;
	padding: 10px 20px;
	font-size: 16px;
	cursor: pointer;
}
.product-item-action i{
	margin-left: auto;
	width: 20px;
	cursor: pointer;
	display: block;
}
.user-info.badge{
	height: 20px;
	 width: 20px;
	 background: red;
	 color: white;
    
}
.user-info .CARTS-PROGUCTS{
	position: absolute;
	width: 200px;
	transform: translate(-42%, 0);
	 top: 46px;
	 background: #eeee;
	border: 1px seagreen solid;
}















.ul{
    margin-left: 22px;
    margin-right:22px ;
}
#user-info{
    display: none;
}
.contain{
	max-width: 1170px;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
	background-color: #24262b;
    padding: 70px 0;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #e91e63;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}

/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}
